* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar:hover{
    background-color: #615c5f;
    color: #fff;
}

body {
    font-family: montserrat, sans-serif;
    background: rgba(236, 207, 188, 0.9);
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -80px;
    padding: 100px;
    text-align: center;
    text-transform: uppercase;
}

.project {
    display: flex;
    justify-content: space-between; /* Ensures proper spacing */
    align-items: flex-start;
}

.add {
    flex: 65%;
}

.box {
    display: flex;
    position: relative; 
    align-items: center;
    width: 600px;
    height: 190px;
    margin-bottom: 20px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(51, 51, 55, 0.2) 0 7px 29px 0;
    padding: 10px;
    border-radius: 8px;
}

.box img {
    width: 200px; 
    height: 200px;
    object-fit: fill;
    border-radius: 20px;
}

.container{
    flex-grow: 1;
    text-align: left;
}


.product1-name{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.btn-area {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: #4d545b;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-area:hover {
    background-color: #8e9295;
    color: #fff;
}

.btn-area i {
    margin-right: 5px;
}

.unit input {
    width: 55px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.right-bar {
    flex: 60%;
    margin-left: 20px;
    padding: 20px;
    height: auto;
    min-width: 250px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
    position: relative;
    right: 0;
}

.right-bar hr {
    margin-bottom: 25px;
}

.right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.right-bar a {
    background-color: #4d5c5a;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    border-radius: 8px;
}

.right-bar a:hover {
    background-color: #413e3e;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 700px) {
    .project {
        flex-direction: column;
    }

    .right-bar {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .btn-area {
        position: relative;
        margin-top: 10px;
    }
}
