* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    background: #f1f2f7;
  }
  
  /* Sidebar */
  .sidebar {
    width: 240px;
    background: #111827;
    color: white;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 30px;
    color: #b9b9ff;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin: 20px 0;
    cursor: pointer;
  }
  
  /* Main */
  .main {
    flex: 1;
    padding: 20px 40px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .card {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .card p {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Color classes */
  .purble {
    color: #6a5acd;
  }
  
  .blue {
    color: #1e90ff;
  }
  
  .pink {
    color: #e91e63;
  }
  
  .lightblue {
    color: #00bcd4;
  }
  
  /* Table */
  .table {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  th, td {
    text-align: left;
    padding: 12px ;
    border-bottom: 1px solid #eee;
  }
  
  /* .status {
    color: green;
    font-weight: bold;
    background: #d3f9d8;
    padding: 5px 10px;
    border-radius: 5px;
  } */
  
  .edit {
    color: blue;
    cursor: pointer;

  }
  .delete{
    color: blue;
    cursor: pointer;
  }

  .status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    color: green;
    background: #d3f9d8;
}

.inactive {
    color: red;
    background: #f9d3d3;
}

  