/* Headeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



/* Headeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

.add-to-cart,
button {
    background-color: #b76e79;
    color: white;
    width: 300px;
    height: 45px;
    font-size: 19px;
    border: #8C6F54
}




/* yousssef rings */
.rings {
    background-color: black;
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-ring-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.product-ring-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;
    /* border-style: solid;
    border-radius: 20%;
    border-width: 5px;
    border-color: rgba(186, 149, 125, 0.8); */
}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: rgb(45, 41, 41);
}

/* button {
    background: black;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
} */

.pdetails details {
    padding-top: 20px;
    color: rgb(45, 41, 41);
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}

/* Color Swatches */
.color-options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color-swatch {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 0.3s;
    border: black;
    border-style: solid;
    border-radius: 0px;
}

.white {
    background: white;

}

.green {
    background: darkgreen;
}

.black {
    background: black;
}

.color-swatch.active {
    border: 2px solid #333;
}




/* malak styling  "earings "*/



.earings .navbar {

    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-earings-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-earings-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;


    /* border-style: solid;
    border-radius: 20%;
    border-width: 5px;
    border-color: rgba(186, 149, 125, 0.8); */
}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* button {
    background: black;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
} */

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}


/*malak styling  "bracelets"*/


.bracelet .navbar {
    background-color: white;
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-bracelet-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-bracelet-image img {
    width: 100%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}


/*malak styling  "bracelet-Bumpy-Cuff "*/


.Sugar-Cap-Bangle .navbar {
    background-color: rgba(186, 149, 125, 0.9);
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-Sugar-Cap-Bangle-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-Sugar-Cap-Bangle-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}


/*malak styling  "Tread-Bracelet-Azurmalachite"*/


.Tread-Bracelet-Azurmalachite .navbar {
    background-color: rgba(186, 149, 125, 0.9);
    z-index: 1000;

}

.Product {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-Tread-Bracelet-Azurmalachite-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-Tread-Bracelet-Azurmalachite-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}


/*malak styling  "Open-Frame-Diamond-Bracelet"*/


.Open-Frame-Diamond-Bracelet .navbar {
    background-color: rgba(186, 149, 125, 0.9);
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}


.product-Open-Frame-Diamond-Bracelet-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-Open-Frame-Diamond-Bracelet-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}



/*malak styling  "Bent-Nail-Link-Bracelet"*/


.Bent-Nail-Link-Bracelet .navbar {
    background-color: rgba(186, 149, 125, 0.9);
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: whitesmoke;
    padding: 200px;
}


.Bent-Nail-Link-Bracelet-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Bent-Nail-Link-Bracelet-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}

/*upgraded*/

/*malak styling  "Bent-Nail-Link-Bracelet"*/


.Park-Avenue-Deco-Bangle .navbar {
    background-color: rgba(186, 149, 125, 0.9);
    z-index: 1000;

}

.Product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}


.product-Park-Avenue-Deco-Bangle-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-Park-Avenue-Deco-Bangle-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;

}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.pdetails details {
    padding-top: 20px;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}



summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}




/* jana styling */


.necklace .navbar {
    background-color: white;
    z-index: 1000;
}

.Product {
    font-family: 'SAOLDISPLAY-MEDIUM';
    color: rgb(45, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: white;
    padding: 200px;
}



.product-necklace-image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-necklace-image img {
    width: 150%;
    display: block;
    position: relative;
    top: -100px;


    /* border-style: solid;
    border-radius: 20%;
    border-width: 5px;
    border-color: rgba(186, 149, 125, 0.8); */
}

.pdetails {
    max-width: 400px;
    color: black;
    position: relative;
    top: -100px;
}

.pdetails h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pdetails p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* button {
    background: black;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
} */

.pdetails details {
    padding-top: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}


details {
    margin-top: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #555;
}

.pdetails .pd {
    font-family: 'SAOLDISPLAY-MEDIUM';
    font-size: 14px;
    color: #555;
    margin: 10px 0;
    padding: 10px;
    line-height: 1.6;
    background: #f9f9f9;

}


details summary:hover {
    color: black;
}

details[open] {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}

.quantity-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: fit-content;
}

.quantity-btn {
    width: 40px;
    height: 40px;
    background-color: #b76e79;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input {
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 16px;
}