* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b55f6c;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.open-chat-btn:hover {
    background-color: #b55f6c;
}

.chat-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hidden by default */
    flex-direction: column;
    z-index: 1000;
}

.chat-header {
    background-color: #b55f6c;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-window {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
}

.chat-window div {
    margin: 10px 0;
}

.user-msg {
    text-align: right;
    background-color: #b55f6c;
    padding: 8px;
    border-radius: 10px;
    max-width: 75%;
    margin-left: auto;
}

.bot-msg {
    text-align: left;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 10px;
    max-width: 75%;
}

form {
    display: flex;
    border-top: 1px solid #ddd;
}

form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 8px;
    outline: none;
    font-size: 14px;
}

form button {
    background-color: #b55f6c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0 0 8px 0;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #b55f6c;
}

.close-chat-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-chat-btn:hover {
    color: #ddd;
}